{% extends 'ApplicationShopBundle::layout.html.twig' %}

{% block title %}Protucts{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}


{% block body %}
<div class="container">
    <div class="row">    
    	<div class="col-lg-12">
    		<div class="page-header">
    			<h2>Product list</h2>
    		</div>
    		<ul class="breadcrumb">
                <li><a href="{{ path('application_shop_start') }}">Start</a></li>
                <li class="active">Product</li>
            </ul>
    	</div>
    </div>

    {% for category in categories %}
    <div class="row">
        <div class="col-lg-12">
            <h3><a href="{{ path('application_shop_category', { 'slug': category.slug }) }}">{{ category.title }}</a></h3>
        </div>
        {% for entity in category.activeproducts %}
        <div class="col-lg-6">
        	<div class="row">
        		<div class="col-sm-4">
        			<img class="img-circle img-responsive img-center" src="{{ asset('bundles/applicationshop/images/140x140.png') }}" alt="{{ entity.title|raw }}">
        		</div>
        		<div class="col-sm-8">
        			<h3>{{ entity.title|raw }}<br/><small>Code: {{ entity.code }}</small></h3>
        			<h4>Price: {{ entity.price }} zł</h4>
        			<p>{{ entity.description|raw }}</p>
        			<p><a class="btn btn-default" href="{{ path('application_product_show', { 'id': entity.id, 'title': entity.titleslug }) }}" role="button">Show &raquo;</a></p>
        		</div>
        	</div>
        </div>
        {% endfor %}
    
    </div>
    {% endfor %}
</div>
{% endblock %}
