{% extends 'ApplicationShopAdminBundle::layout.html.twig' %}

{% block title %}Start{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% form_theme edit_form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <small class="help-block">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</small>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="my-form-choices">
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox">
        <label for="{{ id }}"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        <label for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Product edit</h1>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-md-6">
        
        {# {{ form(edit_form) }} #}

        {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_errors(edit_form) }}
            
            <div class="form-group {% if form_errors(edit_form.category) %} has-error {% endif %}">
                {{ form_label(edit_form.category) }}
                {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.category) }}
            </div>
            
            {% if entity.images is not empty %} 
            <div class="form-group">        
                {% for image in entity.images %}
                <div class="pull-left">
                    <img width="150px" class="img-responsive" src="{{ asset('bundles/applicationshop/images/product/') }}{{ image.image }}" alt="{{ entity.title|raw }}">
                    <div class="text-center">
                        <a class="btn btn-danger btn-xs" href="{{ path('application_admin_product_remove-image', { 'img': image.id, 'id': entity.id }) }}" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }"><i class="fa fa-fw fa-close"></i>delete</a>
                    </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            {% endif %}
            
            <div class="form-group {% if form_errors(edit_form.file) %} has-error {% endif %}">
                {{ form_label(edit_form.file) }}
                {{ form_widget(edit_form.file) }}
                {{ form_errors(edit_form.file) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.title) %} has-error {% endif %}">
                {{ form_label(edit_form.title) }}
                {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.title) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.code) %} has-error {% endif %}">
                {{ form_label(edit_form.code) }}
                {{ form_widget(edit_form.code, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.code) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.price) %} has-error {% endif %}">
                {{ form_label(edit_form.price) }}
                {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.price) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.price_promotion) }}
                {{ form_widget(edit_form.price_promotion, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.price_promotion) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.amount) }}
                {{ form_widget(edit_form.amount, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.amount) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.description) %} has-error {% endif %}">
                {{ form_label(edit_form.description) }}
                {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.description) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.description_full) %} has-error {% endif %}">
                {{ form_label(edit_form.description_full) }}
                {{ form_widget(edit_form.description_full, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.description_full) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.is_active) }}
                {{ form_widget(edit_form.is_active) }}
                {{ form_errors(edit_form.is_active) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.created_at) %} has-error {% endif %}">
                {{ form_label(edit_form.created_at) }}
                {{ form_widget(edit_form.created_at, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.created_at) }}
            </div>
            <div class="form-group {% if form_errors(edit_form.updated_at) %} has-error {% endif %}">
                {{ form_label(edit_form.updated_at) }}
                {{ form_widget(edit_form.updated_at, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.updated_at) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.tags) }}
                {{ form_widget(edit_form.tags, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.tags) }}
            </div>

            <div class="form-group">
                {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
                <a class="btn btn-default" href="{{ path('application_admin_product') }}">Back to the list</a>
                <a class="btn btn-danger" href="{{ path('application_admin_product_remove', { 'id': entity.id }) }}" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">Delete</a>
            </div>

        {{ form_end(edit_form) }}

        {# <a class="btn btn-default" href="{{ path('application_admin_product') }}">Back to the list</a> #}
        {# {{ form(delete_form) }} #}
        {#
        {{ form_start(delete_form, { 'attr': {'class': 'form-btn-inline'} }) }}     
            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_end(delete_form) }}
        #}

        </div>
    </div>
</div>
{% endblock %}
