{% extends 'ApplicationShopAdminBundle::layout.html.twig' %}

{% block title %}Start{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Transaction list</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <th>Customer</th>
                            <th>Phone</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set total_transaction = null %}
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('application_admin_transaction_show', { 'id': entity.id }) }}">Order {{ entity.id }}</a></td>
                            <td>
                                <select class="form-control input-sm">
                                  <option>Open</option>
                                  <option>Processed</option>
                                  <option>Complete</option>
                                  <option>Canceled</option>
                                  <option>Failed</option>
                                </select>
                                {# {{ entity.status }} #}
                            </td>
                            <td>
                                {% if entity.user %}
                                    <a href="mailto:{{ entity.user.email }}">@</a> {{ entity.user }}
                                {% else %}
                                    <a href="mailto:{{ entity.email }}">@</a> {{ entity.billingfirstname }} {{ entity.billinglastname }}
                                {% endif %}
                            </td>
                            <td>
                                <span class="hidden-xs">{{ entity.billingphone }}</span>
                                <span class="hidden-sm hidden-md hidden-lg"><a href="tel:{{ entity.billingphone }}">{{ entity.billingphone }}</a></span>
                            </td>
                            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.quantity }}</td>
                            <td>{{ entity.total|number_format(2, '.', ',') }} zł</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{ path('application_admin_transaction_show', { 'id': entity.id }) }}"><i class="fa fa-fw fa-file-text-o"></i>show</a>
                                <a class="btn btn-primary btn-xs" href="{{ path('application_admin_transaction_edit', { 'id': entity.id }) }}"><i class="fa fa-fw fa-file-text-o"></i>edit</a>
                            </td>
                            {% set total_transaction = total_transaction + entity.total %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="success">
                            <th colspan="6" class="text-right"><h4>Total</h4></th>
                            <th colspan="2"><h4>{{ total_transaction|number_format(2, '.', ',') }} zł</h4></th>
	    		</tr>
                    </tfoot>
                </table>
            </div>
            Dodać filtr!<br/>
            Wyszukiwanie klienta!<br/>
            Sortowanie!<br/>
            Paginację!<br/>
            Datatables.js
            {#
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Shipping address</th>
                            <th>Billing address</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('application_admin_transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.shippingaddress }}</td>
                            <td>{{ entity.billingaddress }}</td>
                            <td>{{ entity.quantity }}</td>
                            <td>{{ entity.status }}</td>
                            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{ path('application_admin_transaction_show', { 'id': entity.id }) }}"><i class="fa fa-fw fa-file-text-o"></i>show</a>
                                <a class="btn btn-primary btn-xs" href="{{ path('application_admin_transaction_edit', { 'id': entity.id }) }}"><i class="fa fa-fw fa-file-text-o"></i>edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-default" href="{{ path('application_admin_transaction_new') }}">Create a new entry</a>
            #}
        </div>
    </div>
</div>
{% endblock %}
