{% extends 'ApplicationShopBundle::layout.html.twig' %}

{% block title %}Cart{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}
    
<script type="text/javascript">
$(document).ready(function()
{
    
    {# $( "#application_shopbundle_checkout_shipping_method :radio" ).click(function () { #}
    $( "#application_shopbundle_checkout_shipping_method :radio" ).on( "click", function() {
    {# $( "#application_shopbundle_checkout_shipping_method :radio" ).live( "click", function() { #}

        var price;

        switch ( $( "input[type=radio]:checked" ).attr("id") ) {
            case "application_shopbundle_checkout_shipping_method_0" :
                //$( "#log" ).html( 10.00 + " zł!" );
                price = 10;
                break;
            case "application_shopbundle_checkout_shipping_method_1" :
                //$( "#log" ).html( 6.90 + " zł!" );
                price = 6.9;
                break;
            case "application_shopbundle_checkout_shipping_method_2" :
                //$( "#log" ).html( 0.00 + " zł!" );
                price = 0;
                break;
            default:
                //$( "#log" ).html( 0.00 + " zł!" );
                price = 0;
        }
        
        {#
        $('#loader').show();
        
        $('#result_cart').load(
            "{{ path('application_order_checkout_create') }}",
            { shipping_cost: price },
            function() {
                $('#loader').hide();
            }
        );
        #}
                                    
        $.ajax({
            type    : "POST", //jeśli nie ustawimy type to dane zostaną domyślnie wysłane metodą GET
            url     : "{{ path('application_order_checkout_create') }}",
            data    : {
                shipping_cost: price
            },

            beforeSend: function() {
                //$("#loader").show();
                $("#result_cart").addClass("loader");
            },

            success: function(msg) {
                $("#result_cart").html(msg);
            },

            complete: function() {
                //$("#loader").hide();
                $("#result_cart").removeClass("loader");
            },

            error: function(error) {
                alert("Error");
            }
        });

    });

    $( "#application_shopbundle_checkout_different_shipping_address:checkbox" ).change(function() {

        if ($(this).is(":checked")) {
            //$("#shipping-address").show();    
            $("#shipping-address").removeClass().addClass("shipping-address-open");
        } else {
            //$("#shipping-address").hide();
            $("#shipping-address").removeClass().addClass("shipping-address-close");
        }

    }).change();
    
});
</script>
    
{% endblock %}

{% form_theme form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <small class="help-block">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</small>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="my-form-choices">
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox">
        <label for="{{ id }}"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        <label for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}

{% block body %}
<div class="container">
    <div class="row">    
    	<div class="col-lg-12">
            <div class="page-header">
                <h2>Checkout</h2>
            </div>
            <ul class="breadcrumb">
                <li><a href="{{ path('application_shop_start') }}">Start</a></li>
                <li class="active">Checkout</li>
            </ul>
    	</div>
    </div>
</div>
                
<div class="container">
    {# {{ form(form) }} #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="row">    
    	<div class="col-md-4">
            <div id="billing-address">
            <h3><i class="fa fa-home"></i> Billing address</h3>
            <div class="form-group {% if form_errors(form.company) %} has-error {% endif %}">
                {{ form_label(form.company) }}
                {{ form_widget(form.company, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.company) }}
            </div>
            <div class="form-group {% if form_errors(form.email) %} has-error {% endif %}">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_firstname) %} has-error {% endif %}">
                {{ form_label(form.billing_firstname) }}
                {{ form_widget(form.billing_firstname, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_firstname) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_lastname) %} has-error {% endif %}">
                {{ form_label(form.billing_lastname) }}
                {{ form_widget(form.billing_lastname, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_lastname) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_phone) %} has-error {% endif %}">
                {{ form_label(form.billing_phone) }}
                {{ form_widget(form.billing_phone, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_phone) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_fax) %} has-error {% endif %}">
                {{ form_label(form.billing_fax) }}
                {{ form_widget(form.billing_fax, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_fax) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_address) %} has-error {% endif %}">
                {{ form_label(form.billing_address) }}
                {{ form_widget(form.billing_address, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_address) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_address2) %} has-error {% endif %}">
                {{ form_widget(form.billing_address2, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_address2) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_city) %} has-error {% endif %}">
                {{ form_label(form.billing_city) }}
                {{ form_widget(form.billing_city, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_city) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_country) %} has-error {% endif %}">
                {{ form_label(form.billing_country) }}
                {{ form_widget(form.billing_country, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_country) }}
            </div>
            <div class="form-group {% if form_errors(form.billing_zipcode) %} has-error {% endif %}">
                {{ form_label(form.billing_zipcode) }}
                {{ form_widget(form.billing_zipcode, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.billing_zipcode) }}
            </div>
            </div>
            
            <div class="form-group {% if form_errors(form.different_shipping_address) %} has-error {% endif %}">
                {# {{ form_label(form.different_shipping_address) }} #}
                {{ form_widget(form.different_shipping_address) }}
                {{ form_errors(form.different_shipping_address) }}
            </div>
            
            <div id="shipping-address">
            <h3><i class="fa fa-truck"></i> Shipping address</h3>
            <div class="form-group {% if form_errors(form.shipping_firstname) %} has-error {% endif %}">
                {{ form_label(form.shipping_firstname, 'First name *') }}
                {{ form_widget(form.shipping_firstname, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_firstname) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_lastname) %} has-error {% endif %}">
                {{ form_label(form.shipping_lastname, 'Last name *') }}
                {{ form_widget(form.shipping_lastname, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_lastname) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_phone) %} has-error {% endif %}">
                {{ form_label(form.shipping_phone, 'Phone') }}
                {{ form_widget(form.shipping_phone, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_phone) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_fax) %} has-error {% endif %}">
                {{ form_label(form.shipping_fax, 'Fax') }}
                {{ form_widget(form.shipping_fax, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_fax) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_address) %} has-error {% endif %}">
                {{ form_label(form.shipping_address, 'Address *') }}
                {{ form_widget(form.shipping_address, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_address) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_address2) %} has-error {% endif %}">
                {{ form_widget(form.shipping_address2, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_address2) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_city) %} has-error {% endif %}">
                {{ form_label(form.shipping_city, 'City *') }}
                {{ form_widget(form.shipping_city, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_city) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_country) %} has-error {% endif %}">
                {{ form_label(form.shipping_country, 'Country *') }}
                {{ form_widget(form.shipping_country, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_country) }}
            </div>
            <div class="form-group {% if form_errors(form.shipping_zipcode) %} has-error {% endif %}">
                {{ form_label(form.shipping_zipcode, 'Zip/postal code *') }}
                {{ form_widget(form.shipping_zipcode, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.shipping_zipcode) }}
            </div>
            </div>
    	</div>
        <div class="col-md-4">
            <h3><i class="fa fa-truck"></i> Shipping method</h3>
            <div class="form-group {% if form_errors(form.shipping_method) %} has-error {% endif %}">
                {{ form_widget(form.shipping_method) }}
                {{ form_errors(form.shipping_method) }}
            </div>
            <h3><i class="fa fa-money"></i> Payment method</h3>
            <div class="form-group {% if form_errors(form.payment_method) %} has-error {% endif %}">
                {{ form_widget(form.payment_method) }}
                {{ form_errors(form.payment_method) }}
            </div>
    	</div>
        <div class="col-md-4">
            <div id="result_cart" class="table-responsive">
                {# {% include 'ApplicationShopBundle:Order:_cartAjax.html.twig' with { 'shipping_cost': shipping_cost } %}#}
                {{ include('ApplicationShopBundle:Order:_cartAjax.html.twig', { 'shipping_cost': shipping_cost }) }}
            </div>
            <hr/>
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-lg'} }) }}
        </div>    
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}